@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');



:root{
    --primary-color: #CDF7F6;
    --secondary-color: #9A94BC;
    --accent1-color: #9B5094;
    --accent2-color: #8FBEDE;


    --heading-font: "Playfair+Display";
    --paragraph-font: "Garamond, Helvetica, sans-serif";
}
body{
    --heading-font: "Playfair+Display";
    --paragraph-font: "Garamond, Helvetica, sans-serif";
}