@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon&family=Lato:ital,wght@0,400;0,700;1,400&display=swap');

:root {
  --primary-color: #B8F3FF   ;
  --secondary-color: #554971 ;
  --accent1-color: #36213E;
  --accent2-color: #8AC6D0;

 
  --heading-font: "IM Fell French Canon";
  --paragraph-font: Lato, Helvetica, sans-serif;

  
  --headline-color-on-white: #36213E;  
  --headline-color-on-color: #B8F3FF; 
  --paragraph-color-on-white: #36213E; 
  --paragraph-color-on-color: #B8F3FF; 
  --paragraph-background-color: #36213E  ;
  --nav-link-color: #B8F3FF;
  --nav-background-color: #554971;
  --nav-hover-link-color: #8AC6D0;
  --nav-hover-background-color: #36213E;
}

content {
    max-width: 1600px;
    margin: 0 auto;
}
nav a {
    text-decoration: none;
    text-align: center;
    color:#36213E;
    padding: 35px;
}
nav{
    display: flex;
    justify-content: space-around;
}
.home-title{
    color: #def6ff;
    font-size: 2em;
    margin-top: 10px;
}
h4{
    color: #def6ff;
}
#hero-msg h1 {
    text-align: center;
}
#hero-msg h4 {
    text-align: center;
    grid-column: 2/3;
    grid-row: 1/2;
}
#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}
.button-box{
    text-align: center;
}
main section{
    text-align: center;
}
#background{
    height: 725px;
    background-color:aliceblue ;
}
body{
    background-color: aliceblue;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
h2{
    margin: 0;
}
header{
    background-color: #B8F3FF;
    display: grid;
    grid-template-columns: 150px auto; 
}
nav a:hover{
    background-color: #554971;
    color: #36213E;
}
.book, .join{
    background-color:#8AC6D0;
    color: #36213E;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 200px;
    border-radius: 5px;
}
.book:hover {
    background-color: #554971;
    color: #36213E;
    font-size: 18px;
}
.join:hover{
    background-color: #554971;
    color: #36213E;
}
.msg{
    background-color:#8AC6D0 ;
    font-size: 1.5em;
    padding: 35px;
}
.msg h2{
    color: #36213E;
}
.msg p{
    color: #36213E;
    font-size: .8em;
    padding-bottom: 15px;
}
footer{
    background-color: #8AC6D0;
    color:#36213E;
    padding: 25px 50px;
    margin-top: 200px;
}
footer a{
    color: #36213E;
    text-decoration: none;
}
footer a:hover{
    color: #36213E;
}
footer p {
    font-size: 1.2em;
}
footer p a:hover{
    text-decoration: underline;
}
footer .social img{
    padding-top: 15px;
}
.icon{
    width: 80px;
    padding-top: 10px;
}
#hero-img{
    width: 1920px ;
    box-sizing: border-box;
    margin: 0;
}
#hero{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}
#hero-box{
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
.logo{
    width: 80px;
}
#logo_link{
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
.rivers-card, .camping-card, .rapids-card{
    margin: 200px 0;
}
.card-img{
    border: 10px solid #8AC6D0;
}
main section img{
    box-sizing: border-box;
}